<turbo-frame id="turbo-frame">
  <article class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <header class="w-full text-center"><%= image_tag("equills.svg") %></header>
      <h1 class="text-center"><%= @page.title %></h1>
      <div class="py-6"><%= @page.content.try(:html_safe) %></div>
    </div>
  </article>
  <section class="w-full">
    <ul>
      <% @letrisms.each do |letrism| %>
      <li>
        <%= link_to letrism_path(letrism.slug) do %>
        <%= image_tag letrism.img.thumb.url, width: 100 %>
        <div><p>Por <%= letrism.user.username %></p></div>
        <% end %>
      </li>
      <% end %>
    </ul>
    <footer class="w-full">
      <%= will_paginate @letrisms %>
    </footer>
  </section>
</turbo-frame>