<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: 'space-y-6') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="pt-2">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <footer class="pt-2">
    <%= f.submit t("receive_instructions"), class: "my-2" %>
    <%= render "devise/shared/links" %>
  </footer>

<% end %>