<%= form_for(letrism, html: { :class => "row", id: "letrism-form" }) do |f| %>
	<% if letrism.errors.any? %>
		<p>Escribe algo antes de guardar!</p>
	<% end %>
	<%= f.hidden_field :paths %>
	<div class="field"><%= f.color_field :bg, :class => "change-color-input", data: { key: "bg_color" } %></div>
	<div class="field"><%= f.color_field :stroke, :class => "change-color-input", data: { key: "stroke_color" } %></div>
	<div class="field"><%= f.color_field :fill, :class => "change-color-input", data: { key: "fill_color" } %></div>
	<%= f.hidden_field :img %>
	<!-- <div class="field"><%= f.text_field :chars, placeholder: "¿Qué escribiste?" %></div> -->
	<div class="field"><%= f.submit "Guardar", id: "save-letrism" %></div>
<% end %>