<div id="ToolBar">
    <!-- nav menu --small verion -->
    <nav class="nav-menu">
        <%= link_to root_path do %>
            <%= image_tag("letrismo-logo.svg", :class => "letrismo-logo") %>
            <h1 class="page-title">eQuills</h1>
        <% end %>


        <button class="burger-btn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
    </nav>

    <div class="tools-wrapper">
        <!-- eQuill selector -->
        <div class="Tool">
            <span class="Tool__hit"></span>

            <div class="Tool__icon-container">
                <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
            </div>

            <div class="Tool__modal-container hide">
                <div class="Tool__modal-arrow"></div>
                <div class="Tool__modal-inner-container two-sides">
                    <div class="Tool__modal-wrapper">
                        <header class="Tool__header-wrapper">
                            <h2 class="Tool__header">Libreria de eQuills</h2>
                            <button class="Tool__contribute">+</button> <!-- trigger modal to redirect to discord if clicked -->
                        </header>

                        <div class="Tool__panels-wrapper">
                            <ul class="Tool__index-panel">
                                <li class="Tool__list-item">
                                    <a href="#">
                                        <%= image_tag("letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                        <h3 class="Tool__list-item__name">Cadena</h3>
                                    </a>
                                </li>
                                <li class="Tool__list-item">
                                    <a href="#">
                                        <%= image_tag("letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                        <h3 class="Tool__list-item__name">Espuma</h3>
                                    </a>
                                </li>
                                <li class="Tool__list-item">
                                    <a href="#">
                                        <%= image_tag("letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                        <h3 class="Tool__list-item__name">Slinky</h3>
                                    </a>
                                </li>
                                <li class="Tool__list-item">
                                    <a href="#">
                                        <%= image_tag("letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                        <h3 class="Tool__list-item__name">Light Brush</h3>
                                    </a>
                                </li>
                                <li class="Tool__list-item">
                                    <a href="#">
                                        <%= image_tag("letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                        <h3 class="Tool__list-item__name">Bulb</h3>
                                    </a>
                                </li>
                            </ul>

                            <div class="Tool__info-panel">
                                <div class="Tool__equill-preview">
                                    <div class="Tool__equill-preview__header">
                                        <div class="Tool__equill-preview__header__text">
                                            <h4 class="Tool__equill-preview__header__title">Cadena</h4>
                                            <div class="Tool__equill-preview__header__subtitle">
                                                <span class="Tool__label">fam.</span>
                                                <span class="Tool__concept">Partículas.</span>
                                            </div>
                                        </div>

                                        <button class="Tool__equill-preview__header__btn">Usar</button>
                                    </div>

                                    <%= image_tag("equills-previews/cadena.png", :class => "Tool__equill-preview__stroke") %>
                                </div>

                                <div class="Tool__equill-description">
                                    <p class='intro'>
                                        <span class="Tool__label">Dificultad:</span>
                                        <span class="Tool__concept">Alta.</span>
                                    </p>

                                    <div class="body">
                                        <p class="biblio">
                                            eQuill de partículas en movimiento perpetuo que estan rodeando el cursor de forma aleatoria como si fueran un "enjambre".
                                        </p>

                                        <p class="biblio">
                                            Al presionar para realizar un trazo, las partículas quedaran "ancladas" a una posicion y lentamente perderan velocidad hasta quedar quietas.
                                        </p>
                                    </div>

                                    <div class="Tool__equill-description__properties">
                                        <h5 class="Tool__label">Propiedades variables</h5>
                                        <ul class="Tool__text-list">
                                            <li class="Tool__text-list__item">Cantidad de partículas(de 2 a 5)</li>
                                            <li class="Tool__text-list__item">Aceleración</li>
                                        </ul>
                                    </div>
                                    
                                    <div class="Tool__equill-description__properties">
                                        <h5 class="Tool__label">Atajos de teclado</h5>
                                        <ul class="Tool__table-list">
                                            <li class="Tool__table-list__item">
                                                <span class="Tool__command">Deshacer</span>
                                                <span class="Tool__key">←</span>
                                            </li>

                                            <li class="Tool__table-list__item">
                                                <span class="Tool__command">Rehacer</span>
                                                <span class="Tool__key">→</span>
                                            </li>
                                            <li class="Tool__table-list__item">
                                                <span class="Tool__command">Reposicionar partículas</span>
                                                <span class="Tool__key">Spacebar</span>
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- eQuill settings (of chosen one only) -->
        <div class="Tool">
            <span class="Tool__hit"></span>
            <% if false %>
            <span id="open-tools-btn" class="Tool__hit"></span>
            <% end %>

            <div class="Tool__icon-container">
                <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
            </div>

            <!-- <div class="Tool__modal-container hide"> -->
            <div class="Tool__modal-container">
                <div class="Tool__modal-arrow"></div>
                <div class="Tool__modal-inner-container">
                    <div class="Tool__modal-wrapper">
                        <header class="Tool__header-wrapper">
                            <h2 class="Tool__header">Propiedades</h2>
                            
                            <div class="Tool__header-equill">
                                <%= image_tag("letrismo-logo.svg", :class => "Tool__header-equill__icon") %>
                                <h3 class="Tool__header-equill__name">
                                    <% if @eQuill == "0" %>
                                    Cadena
                                    <% elsif @eQuill == "1" %>
                                    Espuma
                                    <% elsif @eQuill == "2" %>
                                    Slinky
                                    <% elsif @eQuill == "3" %>
                                    Light Brush
                                    <% elsif @eQuill == "4" %>
                                    Bulb
                                    <% else %>
                                    Indefinido
                                    <% end %>
                                </h3>
                            </div>
                        </header>

                        <div class="Tool__panels-wrapper">
                            <div class="Tool__settings-panel">
                                <% if true %>
                                <div class="">
                                    <p>Flow</p>
                                    <input type="range" min="0.2" max="0.4" step="0.05" value="0.35" id="flow-input" class="styled-slider">
                                </div>

                                <div class="">
                                    <p>Layers</p>
                                    <input type="range" min="1" max="5" step="1" value="3" id="layers-input" class="styled-slider">
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Canvas settings -->
        <div class="Tool">
            <span class="Tool__hit"></span>

            <div class="Tool__icon-container">
                <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
            </div>

            <div class="Tool__modal-container hide">
                <div class="Tool__modal-arrow"></div>
                <div class="Tool__modal-inner-container">
                    <div class="Tool__modal-wrapper">
                        <header class="Tool__header-wrapper">
                            <h2 class="Tool__header">Canvas</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>

        <!-- Color Swatch -->
        <div class="Tool">
            <span class="Tool__hit"></span>

            <div class="Tool__icon-container">
                <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
            </div>

            <div class="Tool__modal-container hide">
                <div class="Tool__modal-arrow"></div>
                <div class="Tool__modal-inner-container">
                    <div class="Tool__modal-wrapper">
                        <header class="Tool__header-wrapper">
                            <h2 class="Tool__header">Color de Trazo</h2>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>