<div id="ToolBar" class="tools-wrapper">
    <!-- eQuill selector -->
    <div class="Tool">
        <span class="Tool__hit"></span>

        <div class="Tool__icon-container">
            <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
        </div>

        <!-- <div class="Tool__modal-container"> -->
        <div class="Tool__modal-container hide">
            <div class="Tool__modal-arrow"></div>
            <div class="Tool__modal-inner-container two-sides">
                <div class="Tool__modal-wrapper">
                    <header class="Tool__header-wrapper">
                        <h2 class="Tool__header">Librería de eQuills</h2>
                        <button class="Tool__contribute">+</button> <!-- trigger modal to redirect to discord if clicked -->
                    </header>

                    <div class="Tool__panels-wrapper">
                        <ul class="Tool__index-panel">
                            <% Equill.all.order(name: :asc).each_with_index do |equill, index| %>
                            <li class="Tool__list-item">
                                <a href="#" title="<%= equill.name %>" class="Tool__show-equill-info <%= 'active' if @equill == equill %>" data-equill='<%= index %>'>
                                    <%= image_tag(equill.thumb.present? ? equill.thumb.url : "letrismo-logo.svg", :class => "Tool__list-item__icon") %>
                                    <h3 class="Tool__list-item__name"><%= equill.name %></h3>
                                </a>
                            </li>
                            <% end %>
                        </ul>

                        <div class="Tool__info-panel">

                            <% Equill.all.order(name: :asc).each_with_index do |equill, index| %>
                            <div id="equill-info-<%= index %>" class="Tool__equill-info-wrapper <%= 'hide' if @equill != equill %>">
                                <div class="Tool__equill-preview">
                                    <div class="Tool__equill-preview__header">
                                        <div class="Tool__equill-preview__header__text">
                                            <h4 class="Tool__equill-preview__header__title"><%= equill.name %></h4>
                                            <div class="Tool__equill-preview__header__subtitle">
                                                <span class="Tool__label">fam.</span>
                                                <span class="Tool__concept"><%= equill.family %>.</span>
                                            </div>
                                        </div>

                                        <% if @equill == equill %>
                                            <button disabled class="active Tool__equill-preview__header__btn">En uso</button>
                                        <% else %>
                                            <%= link_to "/notebook/#{equill.slug}", :class=> "Tool__equill-preview__header__btn" do %>
                                                <span>Usar</span>
                                            <% end %>
                                        <% end %>
                                    </div>

                                    <%= image_tag(equill.preview.url, :class => "Tool__equill-preview__stroke") %>
                                </div>

                                
                                <div class="Tool__equill-description">
                                    <p class='intro'>
                                        <span class="Tool__label">Dificultad:</span>
                                        <span class="Tool__concept"><%= equill.dificulty %>.</span>
                                    </p>

                                    <div class="body">
                                        <p class="biblio">
                                            <%= equill.description.try(:html_safe) %>
                                        </p>
                                    </div>

                                    <% if !equill.properties.empty? %>
                                        <div class="Tool__equill-description__properties">
                                            <h5 class="Tool__label">Propiedades variables</h5>
                                            <ul class="Tool__text-list">
                                                <% equill.properties.each do |prop| %>
                                                    <li class="Tool__text-list__item"><%= prop.name %></li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    <% end %>
                                    
                                    <% if !equill.shortcuts.empty? %>
                                        <div class="Tool__equill-description__properties">
                                            <h5 class="Tool__label">Atajos de teclado</h5>
                                            <ul class="Tool__table-list">
                                                <% equill.shortcuts.each do |shortcut| %>
                                                    <li class="Tool__table-list__item">
                                                        <span class="Tool__command"><%= shortcut.name %></span>
                                                        <span class="Tool__key"><%= shortcut.unicode %></span>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    <% end %>


                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- eQuill settings (of chosen one only) -->
    <div class="Tool">
        <span class="Tool__hit"></span>
        <% if false %>
        <span id="open-tools-btn" class="Tool__hit"></span>
        <% end %>

        <div class="Tool__icon-container">
            <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
        </div>

        <div class="Tool__modal-container hide">
            <div class="Tool__modal-arrow"></div>
            <div class="Tool__modal-inner-container">
                <div class="Tool__modal-wrapper">
                    <header class="Tool__header-wrapper">
                        <h2 class="Tool__header">Propiedades</h2>
                        
                        <div class="Tool__header-equill">
                            <%= image_tag("letrismo-logo.svg", :class => "Tool__header-equill__icon") %>
                            <h3 class="Tool__header-equill__name">
                                <% if @eQuill == "0" %>
                                Cadena
                                <% elsif @eQuill == "1" %>
                                Espuma
                                <% elsif @eQuill == "2" %>
                                Slinky
                                <% elsif @eQuill == "3" %>
                                Light Brush
                                <% elsif @eQuill == "4" %>
                                Bulb
                                <% else %>
                                Indefinido
                                <% end %>
                            </h3>
                        </div>
                    </header>

                    <div class="Tool__panels-wrapper">
                        <div class="Tool__settings-panel">
                            <p class="Tool__settings-panel__property"><%= @equill.param_1 %></p>
                            <div class="Tool__settings-panel__input-wrap">
                                <input type="range" min="0.2" max="0.4" step="0.05" value="0.35" id="flow-input" class="styled-slider">
                            </div>

                            <p class="Tool__settings-panel__property"><%= @equill.param_2 %></p>
                            <div class="Tool__settings-panel__input-wrap">
                                <input type="range" min="1" max="5" step="1" value="3" id="layers-input" class="styled-slider">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Canvas settings -->
    <div class="Tool">
        <span class="Tool__hit"></span>

        <div class="Tool__icon-container">
            <%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %>
        </div>

        <!-- <div class="Tool__modal-container hide"> -->
        <div class="Tool__modal-container">
            <div class="Tool__modal-arrow"></div>
            <div class="Tool__modal-inner-container">
                <div class="Tool__modal-wrapper">
                    <header class="Tool__header-wrapper">
                        <h2 class="Tool__header">Canvas</h2>
                    </header>


                    <div class="Tool__panels-wrapper">
                        <div class="Tool__settings-panel">
                            <!-- <div class="grids tool-item"> -->
                            <p class="Tool__settings-panel__property">Guías</p>
                            <div class="Tool__settings-panel__inline-options">
                                <div class="Tool__settings-panel__input-wrap">
                                    <input type="radio" name="grids" value="1" id="grid1" data-grid="grid-a" checked class="grid-input">
                                    <label for="grid1"><span><%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %></span></label>
                                </div>
                                <div class="Tool__settings-panel__input-wrap">
                                    <input type="radio" name="grids" value="2" id="grid2" data-grid="grid-b" class="grid-input">
                                    <label for="grid2"><span><%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %></span></label>
                                </div>
                                <div class="Tool__settings-panel__input-wrap">
                                    <input type="radio" name="grids" value="3" id="grid3" data-grid="grid-c" class="grid-input">
                                    <label for="grid3"><span><%= image_tag("letrismo-logo.svg", :class => "Tool__icon") %></span></label>
                                </div>
                                <div class="Tool__settings-panel__input-wrap">
                                    <input type="radio" name="grids" value="0" id="grid0" data-grid="" class="grid-input">
                                    <label for="grid0"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.98 18.98"><title>letrismo-close_1</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><line x1="0.35" y1="0.35" x2="18.63" y2="18.63" style="fill:none;stroke-miterlimit:10"/><line x1="18.63" y1="0.35" x2="0.35" y2="18.63" style="fill:none;stroke-miterlimit:10"/></g></g></svg></span></label>
                                    <!-- <label for="grid0"><span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.98 18.98"><title>letrismo-close_1</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><line x1="0.35" y1="0.35" x2="18.63" y2="18.63" style="fill:none;stroke-miterlimit:10"/><line x1="18.63" y1="0.35" x2="0.35" y2="18.63" style="fill:none;stroke-miterlimit:10"/></g></g></svg></span></label> -->
                                </div>
                            </div>

                            <!-- <div class="background tool-item"> -->
                            <p class="Tool__settings-panel__property">Color de fondo</p>
                            <div class="Tool__settings-panel__inline-options">
                                <div class="Tool__settings-panel__input-wrap full-width">
                                    <div class="Tool__text-toggle">
                                        <div class="Tool__text-toggle__active-bg-wrap">
                                            <span class="Tool__text-toggle__active-bg-wrap__element two-options"></span>
                                        </div>

                                        <div class="Tool__text-toggle__options-wrap">
                                            <div class="Tool__text-toggle__option bg-input active" data-hex="#151512" data-theme="dark" data-option-index="0">
                                                <span class="Tool__text-toggle__option__label">Oscuro</span>
                                            </div>
                                            <div class="Tool__text-toggle__option bg-input" data-hex="#eae7e1" data-theme="light" data-option-index="1">
                                                <span class="Tool__text-toggle__option__label">Claro</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Color Swatch -->
    <% if @eQuill != "3" && @eQuill != "4" %>
    <div class="Tool">
        <span class="Tool__hit"></span>

        <div class="Tool__icon-container">
            <div id="rgb-sample" class="Tool__swatch"></div>
        </div>

        <div class="Tool__modal-container hide">
            <div class="Tool__modal-arrow"></div>
            <div class="Tool__modal-inner-container">
                <div class="Tool__modal-wrapper">
                    <header class="Tool__header-wrapper">
                        <h2 class="Tool__header">Color de Trazo</h2>
                    </header>

                    <div class="Tool__panels-wrapper">
                        <div class="Tool__settings-panel">

                            <!-- <div class="tool-item"> -->
                            <div>
                                <div>
                                    <p>R</p>
                                    <input type="range" min="0" max="255" value="255" step="1" id="red-channel" class="channel-input styled-slider" data-index="0">
                                </div>

                                <div>
                                    <p>G</p>
                                    <input type="range" min="0" max="255" value="255" step="1" id="green-channel" class="channel-input styled-slider" data-index="1">
                                </div>

                                <div>
                                    <p>B</p>
                                    <input type="range" min="0" max="255" value="255" step="1" id="blue-channel" class="channel-input styled-slider" data-index="2">
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>