<% provide(:title, "#{@equill.name}") %>
<script>var eQuill = '<%= @equill.slug %>';</script>
<%= render 'form', letrism: @letrism %>
<button id="clear-btn" class="intro-item">Borrar</button>
<button id="download-tif" class="intro-item bottom-action">Descargar TIF</button>
<button id="download-jpg" class="intro-item bottom-action">Descargar JPG</button>

<style>
<%= @equill.css %>
</style>
<% if !@equill.html.blank? %>
	<div id="equill-html"><%= @equill.html.try(:html_safe) %></div>
<% end %>
<% if !@equill.libraries.blank? %>
<%= @equill.libraries.try(:html_safe) %>
<% end %>
<% if !@equill.js.blank? %>
<script>
<%= @equill.js.try(:html_safe) %>
</script>
<% end %>