<% provide(:title, "Nuevo") %>
<script>var eQuill = <%= @eQuill %>;</script>
<%= render "toolbar" %>
<%= render 'form', letrism: @letrism %>
<button id="clear-btn" class="intro-item">Borrar</button>
<button id="open-tools-btn" class="intro-item">
	<span class="sr-only"></span>
</button>
<div id="tools">
	<div class="closeBtn tool-item">
		<button id="close-tools-btn">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.98 18.98"><line x1="0.35" y1="0.35" x2="18.63" y2="18.63"/><line x1="18.63" y1="0.35" x2="0.35" y2="18.63"/></svg>
		</button>
	</div>
	<!-- <div class="slider tool-item"><p>Viscocity</p><input type="range" min="0" max="100" step="10" name="viscocity" class="styled-slider"></div> -->

	<div class="equills tool-item">
		<p>eQuills</p>
		<ul>
			<li>
				<a href="/notebook?equill=0" title="eQuill #0" class="<%= 'active' if @eQuill == "0" %> change-page">
					<input type="radio" name="eQuills">
					<label for="equill1"><span>0</span></label>
				</a>
			</li>
			<li>
				<a href="/notebook?equill=1" title="eQuill #1" class="<%= 'active' if @eQuill == "1" %> change-page">
					<input type="radio" name="eQuills">
					<label for="equill1"><span>1</span></label>
				</a>
			</li>
			<li>
				<a href="/notebook?equill=2" title="eQuill #2" class="<%= 'active' if @eQuill == "2" %> change-page">
					<input type="radio" name="eQuills">
					<label for="equill2"><span>2</span></label>
				</a>
			</li>
			<li>
				<a href="/notebook?equill=3" title="eQuill #3" class="<%= 'active' if @eQuill == "3" %> change-page">
					<input type="radio" name="eQuills">
					<label for="equill1"><span>3</span></label>
				</a>
			</li>
			<li>
				<a href="/notebook?equill=4" title="eQuill #4" class="<%= 'active' if @eQuill == "4" %> change-page">
					<input type="radio" name="eQuills">
					<label for="equill1"><span>4</span></label>
				</a>
			</li>
		</ul>
	</div>
</div>