<% provide(:title, "#{@equill.name}") %>
<script>var eQuill = '<%= @equill.slug %>';</script>
<%= render 'form', letrism: @letrism %>

<div id="equill-bottom-actions">
	<button id="clear-btn" class="intro-item">
		<%= show_svg("equills-descartar.svg") %>

		<div class="Tooltip top middle-hor">
			<div class="Tooltip__animation">
				<div class="Tooltip__box">Borrar</div>
				<span class="Tooltip__arrow"></span>
			</div>
		</div>
	</button>

	<button id="download-tif" class="intro-item bottom-action">
		<%= show_svg("equills-descargar-tif.svg") %>

		<div class="Tooltip top middle-hor">
			<div class="Tooltip__animation">
				<div class="Tooltip__box">Descargar trazo .tif</div>
				<span class="Tooltip__arrow"></span>
			</div>
		</div>
	</button>

	<button id="download-jpg" class="intro-item bottom-action">
		<%= show_svg("equills-descargar-jpg.svg") %>

		<div class="Tooltip top middle-hor">
			<div class="Tooltip__animation">
				<div class="Tooltip__box">Descargar trazo .jpg</div>
				<span class="Tooltip__arrow"></span>
			</div>
		</div>
	</button>
</div>

<style>
<%= @equill.css %>
</style>
<% if !@equill.html.blank? %>
	<div id="equill-html"><%= @equill.html.try(:html_safe) %></div>
<% end %>
<% if !@equill.libraries.blank? %>
<%= @equill.libraries.try(:html_safe) %>
<% end %>
<% if !@equill.js.blank? %>
<script>
<%= @equill.js.try(:html_safe) %>
</script>
<% end %>