<section class="container">
	<%= image_tag @letrism.img.url %>
	<h1>Letrismo de <%= @letrism.user.username %></h1>
	<h3>Más de <%= @letrism.user.username %></h3>
	<ul>
		<% @letrism.user.letrisms.shuffle.take(3).each do |letrism| %>
		<li>
			<%= link_to letrism_path(letrism.slug) do %>
				<%= image_tag letrism.img.thumb.url, width: 100 %>
			<% end %>
		</li>
		<% end %>
	</ul>
</section>