<% provide(:title, t(:sign_up)) %>

<%= render "devise/shared/header", title: t(:sign_up), text: t(:not_a_member) %>
<div class="mt-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'space-y-6') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.label :email, class: '' do %>
    <%= t(:email) %>
    <%= f.email_field :email, autofocus: true, required: true, placeholder: t(:email), autocomplete: "email", class:  "", required: true %>
  <% end %>

  <%= f.label :password, class: '' do %>
  <%= t(:password) %>
  <%= f.password_field :password, required: true, placeholder: "********", autocomplete: "new-password", class:  "", required: true %>
  <% if @minimum_password_length %>
  <small>(<%= "#{@minimum_password_length} #{t(:characters_minimum)}" %>)</small>
  <% end %>
  <% end %>

  <%= f.label :password_confirmation, class: '' do %>
  <%= t(:password_confirmation) %>
  <%= f.password_field :password_confirmation, required: true, placeholder: "********", autocomplete: "new-password", class:  "", required: true %>
  <% end %>

  <footer>
    <%= f.submit t(:sign_up), class: "my-4" %>
    <%= render "devise/shared/links" %>
  </footer>

  <% end %>

</div>