<%- if devise_mapping.omniauthable? %>
<div class="social-auth-links text-center">
  <p>- <%= t(:or) %> -</p>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-block btn-primary", method: :post do %>
      <%= "#{t(:login_with)} #{OmniAuth::Utils.camelize(provider)}" %>
    <% end %>
  <% end %>
</div>
<% end %>

<%- if controller_name != 'sessions' %>
<div class='block'>
  <%= link_to t("devise.shared.links.i_already_have_an_account"), new_session_path(resource_name, lang:@lang), class: "btn" %>
</div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
<p class="mt-10 text-center text-sm text-gray-500">
  <%= t(:not_a_member) %>
  <%= link_to t("devise.shared.links.sign_up"), new_registration_path(resource_name, lang:@lang), class: 'link' %>
</p>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
<div class='block'>
  <%= link_to t("devise.shared.links.didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name, lang:@lang) %>
</div>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
<div class='block'>
  <%= link_to t("didn_t_receive_unlock_instructions"), new_unlock_path(resource_name, lang:@lang) %>
</div>
<% end %>