<% provide(:title, t(:recover)) %>

<%= render "devise/shared/header", title: t(:recover), text: "Recupera tu contraseña" %>

<div class="mt-4">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'space-y-6') do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.label :email, class: '' do %>
    <span><%= t(:email) %></span>
    <%= f.email_field :email, autofocus: true, required: true, placeholder: t(:email), autocomplete: "email", class:  "" %>
    <% end %>

    <footer>
      <%= f.submit t(:recover), class: "my-4" %>
      <%= render "devise/shared/links" %>
    </footer>

  <% end %>

</div>