<header id="main-header">
	<nav id="main-nav" class="container">
		<ul>
			<li><%= link_to "Home", root_path, title: "Home" %></li>
			<li><%= link_to "Galería", gallery_path, title: "Galería" %></li>
			<% if signed_in? %>
			<li><%= link_to "Escribir", new_letrism_path, title: "Escribir" %></li>
			<li><%= link_to "Cerrar Sesión", "/log_out", title: "Cerrar Sesión" %></li>
			<% else %>
			<li><%= link_to "Escribir", "/login", title: "Escribir" %></li>
			<% end %>
		</ul>
	</nav>
</header>