<% provide(:title, t(:login)) %>
<%# src="https://equills.letrismo.com/imgs/34/img.png" %>
<%= render "devise/shared/header", title: t(:login), text: "Crea una cuenta y comparte lorem ipsum..." %>

<div class="mt-4">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'space-y-6') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.label :email, class: '' do %>
  <span><%= t(:email) %></span>
  <%= f.email_field :email, autofocus: true, required: true, placeholder: t(:email), autocomplete: "email", class:  "mt-2" %>
  <% end %>

  <%= f.label :password, class: '' do %>
  <span><%= t(:password) %></span>
  <%= f.password_field :password, required: true, placeholder: "********", autocomplete: "current-password", class:  "mt-2" %>
  <% end %>

  <div class="flex items-center w-full justify-between py-4 text-sm leading-6">
    <%= f.label :remember_me, class: "flex items-center" do %>
    <%= f.check_box :remember_me, class: '', checked: true %>
    <span class="pr-1"><%= t(:remember_me) %></span>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "/#{@lang}/reset_password", class: 'link' do %>
        <%= t("devise.shared.links.forgot_your_password") %>
      <% end %>
    <% end %>
  </div>

  <footer>
    <%= f.submit t(:login), class: "my-2" %>
    <%= render "devise/shared/links" %>
  </footer>

  <% end %>

</div>