<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s.downcase %>">
  <head>
    <link rel="preload" as="script" href="/js/vendor.js">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <!-- @see: https://developers.google.com/analytics/devguides/collection/gtagjs -->
    <%= render "shared/analytics" %>
    <meta charset='utf-8'>
    <!-- user agent -->
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "shared/metas" %>
    <%= render "shared/favicons" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= yield :jsonld %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>
  <body class="light-mode" data-theme="dark">
    <%= render "shared/preloader" %>
    <%= render "shared/top-nav" %>
    <%= render "shared/side-menu" %>
    <main id="app"><%= yield %></main>
    <script src="/js/vendor.js?v=2.2"></script>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>