<!DOCTYPE html>
<html lang="<%= @lang %>" dir="ltr" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <%= render "shared/fonts" %>
    <%= render "shared/tag_manager" %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <%= render "shared/metadata" %>
    <%= render "shared/favicons" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    <%= render "shared/json_ld/page" %>,
    <%= render "shared/json_ld/publisher" %>,
    <%= render "shared/json_ld/provider" %>
    }
    </script>
    <%= vite_client_tag %>
  </head>
  <body class="bg-black text-white">
    <%= render "shared/preloader" %>
    <main class="pb-20 md:pb-16">
      <%= render "shared/header" %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <%= vite_javascript_tag 'application', defer: true %>
  </body>
</html>