<!DOCTYPE html>
<html lang="<%= @lang %>" dir="ltr" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= render "shared/fonts" %>
    <meta name='viewport'           content='width=device-width, initial-scale=1.0'>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", "inter-font" %>
    <%= render "shared/favicons" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="bg-black">
      <main class="relative isolate min-h-full">
        <img src="https://equills.letrismo.com/imgs/70/c78e610dc68453324a67-full.png" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-top" />
        <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
          <p class="text-base font-semibold leading-8 text-white">404</p>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-white sm:text-5xl">Page not found</h1>
          <p class="mt-4 text-base text-white/70 sm:mt-6">Sorry, we couldn’t find the page you’re looking for.</p>
          <div class="mt-10 flex justify-center">
            <a href="#" class="text-sm font-semibold leading-7 text-white"><span aria-hidden="true">&larr;</span> Back to home</a>
              <% link_to "/", title: "Home", class: "flex flex-shrink-0 items-center" do %>
                <%= image_tag('letrismo-logo.svg', alt: 'Letrismo Logo', width: 160, class: "h-10 w-auto sm:h-12 mr-2") %>
              <% end %>
          </div>
        </div>
      </main>
    <% yield %>
  </body>
</html>