<!DOCTYPE html>
<html lang="<%= @lang %>" dir="ltr" xmlns="https://www.w3.org/1999/xhtml" xmlns:og="https://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= render "shared/fonts" %>

    <meta name='viewport'           content='width=device-width, initial-scale=1.0'>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application" %>
    <%= render "shared/favicons" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body class="grid min-h-full grid-cols-1 grid-rows-[1fr,auto,1fr] bg-white lg:grid-cols-[max(50%,36rem),1fr]">
    <%= yield %>
        <header class="mx-auto w-full max-w-7xl px-6 pt-6 sm:pt-10 lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:px-8">
      <%= link_to "/", title: "Home", class: "flex flex-shrink-0 items-center" do %>
        <%= image_tag('letrismo-logo.svg', alt: 'Letrismo Logo', width: 160, class: "h-10 w-auto sm:h-12 mr-2") %>
      <% end %>
    </header>
  </body>
</html>